body {
  background-color: lightgreen;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
h1 {
 
  color: red;
  text-decoration: underline;
  width: 700px;
  font-size: 40px;
}
button {
  margin: 5px;
  font-size: 50px;
  background-color: grey;
  color: white;
  border-radius: 20px;
  width: 100px;
}
button:hover {
  background-color: darkgray;
}
.buttons {
  text-align: center;
}

.container {
  background-color: yellowgreen;
  width: 700px;
}
input {
  font-size: 40px;
  width: 450px;
  height: 80px;
  background-color: white;
  color: black;
}
/* Buttons */
#btn-clear {
  background-color: green;
  width: 150px;
}
#btn-clear:hover {
  background-color: darkgreen;
}
.btn-symbol {
  background-color: blue;
}
.btn-symbol:hover {
  background-color: darkblue;
}
#delete {
  background-color: red;
}
#delete:hover {
  background-color: darkred;
}

#btn-divide {
  width: 150px;
}
#btn-percent {
  width: 110px;
}

/* Media quries */
@media (max-width: 480px) {
  h1 {
    font-size: 30px;
    width: 90%;
  }

  .container {
    width: 90%;
    max-width: 300px;
  }

  input {
    font-size: 20px;
    width: 200px;
  }

  button {
    font-size: 25px;
  }
}
