body {
  background-color: lightgreen;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1 {
  text-align: center;
  color: blue;
  background-color: yellowgreen;
  width: 700px;
  font-size: 40px;
}
button {
  margin: 5px;
  font-size: 50px;
  background-color: grey;
  color: white;
  border-radius: 20px;
  width: 100px;
}
button:hover {
  background-color: darkgray;
}
.buttons {
  text-align: center;
}

.container {
  background-color: yellowgreen;
  width: 700px;
}
input {
  font-size: 40px;
  width: 450px;
  height: 80px;
  background-color: white;
  color: black;
}
/* Buttons */
#btn-clear {
  background-color: green;
}
#btn-clear:hover {
  background-color: darkgreen;
}
.btn-symbol {
  background-color: blue;
}
.btn-symbol:hover {
  background-color: darkblue;
}
#delete {
  background-color: red;
}
#delete:hover {
  background-color: darkred;
}
#bracket1 {
  width: 50px;
}
#bracket2 {
  width: 50px;
}
